page-contact {
    .body{
        background:$grisfondo;
    }
    #ContainerSuperior{
        background-color: #133856;
        width:100%;
        margin:0 auto;
        text-align: center;
    }
    #fotofondo2{
        width:80%; 
        position: relative;
        bottom: -5px;
    }

    .item-md ion-icon[item-left], .item-md ion-icon[item-right]{
        margin-left:10px;
    }
    ion-label.label.label-md{
        color:black;
    }
    .item-md p {
        text-align: left
    }

}   